html,
body {
    height: 100%;
}

.wrap {
    height: 100vh;
    background-image: url('../../image1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    float: right;
    margin-top: 20%;
    margin-right: 10rem;
    text-align: center;
}

@media (max-width: 600px) {
  .content {
    margin-top: 20%;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}
}