<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-custom">
    <a class="navbar-brand" style="color:white;border:2px;border-style:inset;padding:10px 6px" routerLink="//recruiter/jobposting">Accolite Refferal System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
       <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/recruiter/jobposting">Job Postings</a>
         </li>
          <li class="nav-item active">
             <a class="nav-link" routerLink="/recruiter/prevrefferal">Referrals</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/recruiter/refferal">Refferal Status</a>
         </li>
         
         <li class="nav-item active">
          <a class="nav-link" routerLink="/" onclick="localStorage.clear()"> Logout</a>
       </li>
         
       </ul>
    </div>
  </nav>