@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';

body {
  background: #F7F7F7 !important;

  height: auto;
  width: auto;
}

a {
  cursor: pointer;
}

.navbar {
  margin-bottom: 30px;
}

.card{
  margin-bottom: 10px;
}

.navbar-custom{
  background-image: linear-gradient(to right, #000026 , black);
}
